*{
  margin: 0;
}
body{
  background-color: white;
}
.App{
  display: flex;;
  justify-content: space-evenly;
}
.covid_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center ;
}
.covid_stats{
  display: flex;
  justify-content: space-between;
}
.covid_left{
  flex: 0.9;
}
.covid_right{
  height: 5%;
}
@media(max-width:990px){
  .App{
    flex-direction: column;
  }
  .covid_stats{
    flex-direction: column;
  }
}