.infoBox{
    flex: 1;
}
.infoBox:not(:last-child){
    margin-right: 15px;
}
.infoBox_total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}
.infoBox-red{
    border-top: 10px solid red;
}
.infoBox-green{
    border-top: 10px solid greenyellow;
}
.infoBox-orange{
    border-top: 10px solid orange;
}
.infoBox-black{
    border-top: 10px solid black;
}
